.app {
  width: 780px;
  margin: 40px auto;
  border: 1px solid var(--color-grey);
  padding: 8px;

  &__year-table {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 3px;
    height: 90px;
  }

  &__day {
    width: 10px;
    height: 10px;
    flex: 10px 0 0;

    cursor: pointer;
    padding: 0;
    border: none;

    background-color: var(--color-calendar-graph-day-bg);
    border-radius: 2px;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;;

    &--l1 {
      background-color: var(--color-calendar-graph-day-L1-bg);
    }

    &--l2 {
      background-color: var(--color-calendar-graph-day-L2-bg);
    }

    &--l3 {
      background-color: var(--color-calendar-graph-day-L3-bg);
    }

    &--l4 {
      background-color: var(--color-calendar-graph-day-L4-bg);
    }

    &--filler {
      opacity: 0;
    }
  }
}
